body {
  background-color: #282c34;
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
a {
  text-decoration: inherit;
  color: inherit;
  /* cursor: auto; */
}
/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* ~~~~~~ Headline styles ~~~~~~ */
.headlines {
  background-color: rgba(240, 248, 255, 0.3);
  box-shadow: 1px 1px 8px black;
  border-radius: 20px;
  margin: 20px auto;
  padding: 20px;
  width: fit-content;
  text-align: left;
}
.headlines h3 {
  font-size: medium;
}

/* ~~~~~~ Footer styles ~~~~~~ */
.App-logo {
  border-radius: 100%;
  width: 75px;
  height: 75px;
}

.App-footer {
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.technologies {
  display: flex;
  flex-flow: row nowrap;
}
.tech-item {
  margin: 10px 50px;
}
.tech-item h6 {
  margin: 0px;
}
